.flex{
    display: flex;
}
.item-centre{
    align-items: center;    
}
.search{
    width: 34vw;
    height: 1vw;
    margin-top: 10px;
    padding: 7px 15px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-centre{
    justify-content: center;
}
.spacebetween{
    justify-content: space-between;
}
.uppercase{
    text-transform:uppercase;
}
.semibold{
    font-weight:bolder;
}
.mx-2{
    margin-left: 20px;
    margin-right: 20px;
}
